<h1>投稿詳細</h1>
<p>【メールアドレス】 <%= @food.user.email %></p>
<p>【食品名】 <%= @food.name %></p>
  <% if @food.image? %>
    <p><%= image_tag @food.image.url %></p>
  <% end %>
<p>【コメント】 <%= simple_format h @food.comment %></p>
<p>
  <% if @food.liked_by?(current_user) %>
    <%# 「いいね！」済み（クリックすると「いいね」解除） %>
    <%= link_to "★", food_likes_path(@food), method: :delete %>
  <% else %>
    <%# 「いいね」していない（クリックすると「いいね！」にする） %>
    <%= link_to "☆", food_likes_path(@food), method: :food %>
  <% end %>
</p>
<p>
  <% if current_user.id == @food.user_id %>
    <%= link_to "編集", edit_food_path(@food) %>
    <%= link_to "削除", food_path(@food), method: :delete, data: { confirm: "削除しますか？" } %>
  <% end %>
</p>
<p><%= link_to "投稿一覧へ", foods_path %></p>
